@font-face {
    font-family: 'Tusker Grotesk';
    src: local('Tusker Grotesk 3500 Medium'), local('Tusker-Grotesk-3500-Medium'),
        url('TuskerGrotesk-3500Medium.woff2') format('woff2'),
        url('TuskerGrotesk-3500Medium.woff') format('woff'),
        url('TuskerGrotesk-3500Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }